<h2 mat-dialog-title>Category Content</h2>
<mat-dialog-content class="dialog-content">

    <form [formGroup]="mainForm">

        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div fxFlex="49%">
                <div class="pic-agente"  >
                    <input type="file" id="fotoPresentacion" (change)="fileChange($event.target.files, 'fotoPresentacion')" 
                    accept=".jpg, .png, .jpeg, .gif" hidden>
                    <span *ngIf="!mainForm.value.fotoPresentacion" class="btnsub" (click)="openInputFile('fotoPresentacion')">UPLOAD IMAGE</span>
                    <img *ngIf="mainForm.value.fotoPresentacion && !mainForm.value.fotoPresentacion.includes('data')"
                        [src]="routeStorage + pathFicheros + mainForm.value.fotoPresentacion + '?alt=media'" (click)="removerImagen('fotoPresentacion')">
                    <img *ngIf="mainForm.value.fotoPresentacion  && mainForm.value.fotoPresentacion.includes('data')"
                        [src]="mainForm.value.fotoPresentacion" (click)="removerImagen('fotoPresentacion')">
                </div>
            </div>
            <div fxFlex="49%">
                <div class="pic-agente">
                    <input type="file" id="fichero" (change)="fileChange($event.target.files, 'fichero')" hidden>
                    <span *ngIf="!mainForm.value.fichero" class="btnsub" (click)="openInputFile('fichero')">UPLOAD FILE</span>
                    <span *ngIf="mainForm.value.fichero" class="btnsub rmv" (click)="removerImagen('fichero')">REMOVE</span>
                    <a [href]="mainForm.value.ficherox" *ngIf="mainForm.value.fichero?.includes('data')" class="btnsub" target="_blank">VIEW FILE</a>
                    <a [href]="routeStorage + pathFicheros + mainForm.value.fichero + '?alt=media'"  download='{{ mainForm.value.fichero }}' 
                        *ngIf="mainForm.value.fichero && !mainForm.value.fichero?.includes('data')"
                        target="_blank" class="btnsub">VIEW FILE</a>                
                
                </div>
            </div>
            <div fxFlex="100%">
                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <div fxFlex="100%">
                        <mat-form-field class="full" appearance="outline">
                            <mat-label>Title</mat-label>
                            <input matInput formControlName="titulo" required>
                            <mat-error *ngIf="mf.titulo.errors">
                                <span *ngIf="mf.titulo.errors.required">Required</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="100%">
                        <mat-form-field class="full" appearance="outline">
                            <mat-label>Description</mat-label>
                            <input matInput formControlName="descripcion" required>
                            <mat-error *ngIf="mf.descripcion.errors">
                                <span *ngIf="mf.descripcion.errors.required">Required</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div fxFlex="49%">
                <mat-form-field class="full" appearance="outline">
                    <mat-label>Position</mat-label>
                    <mat-select formControlName="posicion" required>
                        <mat-option *ngFor="let ii of [].constructor(99); let i = index" [value]="i">{{ i }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="mf.posicion.errors">
                        <span *ngIf="mf.posicion.errors.required">Required</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="49%">
                <mat-form-field class="full" appearance="outline">
                    <mat-label>State</mat-label>
                    <mat-select formControlName="habilitar" required>
                        <mat-option *ngFor="let ee of estados" [value]="ee.value">{{ ee.id }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="mf.habilitar.errors">
                        <span *ngIf="mf.habilitar.errors.required">Required</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-flat-button class="primary-gray" [mat-dialog-close]="true">Cancel
    </button>
    <button mat-flat-button color="primary" (click)="save()">Save</button>
</mat-dialog-actions>