<!-- 
<div class="appSectionSubmenu">
    <div class="header-custom-menu" fxLayout="row" fxLayoutAlign="center">
        <button
        *ngFor="let item of items; let i = index"
             mat-flat-button 
             [ngClass]="{'active' : activeIndex === i}" 
             (click)="emitAction(item.return, i)" 
             fxFlex="{{ flex }}%">
            <i class="{{ item.icon }}"></i> 
            <span class="text-it">{{ item.text }}
                <span class="sm-text-it">{{ item.subtext}}</span>
            </span>
        </button>
    </div>
</div>
-->
<div class="np">
    <button 
        mat-button 
        class="btn-sup-menu"
        [ngClass]="{'active' : activeIndex === i}" 
        *ngFor="let item of items; let i = index" 
        (click)="emitAction(item.return, i)">
        <i class="{{ item.icon }}"></i>
        <span class="txt">{{ item.text }}</span>
    </button>
</div>