<app-return [url]="'/agentes'" [text]="'VOLVER AL LISTADO DE AGENTES'" *ngIf="agente?.tipoUsuario === 'AGENTE'"></app-return>

<mat-card class="info-ag" *ngIf="agente">
    <div fxLayout="row">
        <div fxFlex>
            <img *ngIf="!agente.foto" [src]="routeFotoPerfil + 'blank_profile.png?alt=media'" class="pic-det">
            <img *ngIf="agente.foto" [src]="routeFotoPerfil + agente.foto + '?alt=media'" class="pic-det">
        </div>
        <div fxFlex="100%">
            <div class="sedet"><b>{{ agente.tipoUsuario === 'ADMIN' ? 'Administrador' : 'Agente'}}:</b> {{ agente.nombres }} {{ agente.apellido_paterno }} {{ agente.apellido_materno }} </div>
            <div class="sedet"><b>RUT:</b> {{ agente.rut }}</div>
            <div class="sedet"><b>Estado:</b> {{ agente.estado | removeUnderscore }} </div>
        </div>

    </div>
    
</mat-card>

<div class="appSection">
    <div class="white-container mat-elevation-z2">
        <div class="search-input">
            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                <div fxFlex="50%" fxFlex.xs="100%" class="alignLeft">
                    <button mat-flat-button color="primary" class="btnCustom boldy" (click)="openForm()" *ngIf="tipoUsuario === 'ADMIN'">REGISTRAR GANANCIA</button>
                </div>
                <div fxFlex="50%" fxFlex.xs="100%" class="alignRight">
                    <mat-form-field appearance="outline" class="no-padding">
                        <mat-label>Buscar</mat-label>
                        <input matInput placeholder="Escriba..." (keyup)="setFilter($event.target.value)">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <mat-table [dataSource]="dataSource" class="responsiveActive" matSort>
            ['solicitud', "precioPropiedad", "plan", "montoComision", "montoGanancia", "acciones"]

            <ng-container matColumnDef="solicitud">
                <mat-header-cell *matHeaderCellDef mat-sort-header> # Solicitud </mat-header-cell>
                <mat-cell *matCellDef="let e" data-label="# Solicitud"> <span>{{e.referenciaSolicitud}}</span> </mat-cell>
            </ng-container>

            <ng-container matColumnDef="precioPropiedad">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Precio del Inmueble </mat-header-cell>
                <mat-cell *matCellDef="let e" data-label="Precio del Inmueble"> <span> {{ e.moneda }} {{e.precioPropiedad | number :
                        '1.0-0'}}</span> </mat-cell>
            </ng-container>

            <ng-container matColumnDef="plan">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Plan Suscrito </mat-header-cell>
                <mat-cell *matCellDef="let e" data-label="Plan Suscrito"> <span>{{e.plan }}</span> </mat-cell>
            </ng-container>

            <ng-container matColumnDef="montoComision">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Comsión </mat-header-cell>
                <mat-cell *matCellDef="let e" data-label="Monto Comsión"> <span>{{e.montoComision | number : '1.0-0' }}%</span> </mat-cell>
            </ng-container>

            <ng-container matColumnDef="montoGanancia">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Monto Ganancia </mat-header-cell>
                <mat-cell *matCellDef="let e" data-label="Monto Ganancia"> <span>{{ e.moneda }} {{e.montoGanancia  | number : '1.0-0'}}</span> </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="estado">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
                <mat-cell *matCellDef="let e" data-label="Estado"
                 [ngClass]="{ 'success' : e.estado === 'PAGADO', 
                'danger' : e.estado === 'PENDIENTE_PAGO',
                'gray' : e.estado === 'NO_VIGENTE',
                'warning' : e.estado === 'EVALUACIÓN',
                'blued' : e.estado === 'VIGENTE' }">
                    <span class="ess"> {{ e.estado | removeUnderscore }} </span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                <mat-cell *matCellDef="let e" data-label="Acciones">
                    <span>

                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="openForm(e._id)">
                                <mat-icon>create</mat-icon>
                                <span>GESTIONAR</span>
                            </button>
                        </mat-menu>
                        <button mat-icon-button [matMenuTriggerFor]="menu" matTooltipPosition="right">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </span>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columns" class="bgheader"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columns;"></mat-row>
        </mat-table>
        <p class="noresults" *ngIf="length === 0">No se encontraron resultados</p>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" (page)="utils.fnGoTop()"></mat-paginator>
    </div>
</div>