<h2 mat-dialog-title>Datos del Pago</h2>
<mat-dialog-content class="dialog-content">

    <form [formGroup]="mainForm" class="form-pago">

        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div fxFlex="100%">
                <mat-form-field appearance="outline" class="full" >
                    <mat-label>Plan Aplicado</mat-label>
                    <mat-select formControlName="idPlan">
                        <mat-option *ngFor="let pa of planesAgentes" [value]="pa._id"> {{ pa.nombre  }} / Precio: <b>{{ pa.precio | number:'1.0-0' }}</b> / Comisión: <b>{{ pa.comision | number:'1.0-0' }}%</b></mat-option>
                    </mat-select>
                    <mat-error *ngIf="mf.idPlan.errors">
                        <span *ngIf="mf.idPlan.required">Plan es requerido</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="49%">
                <mat-form-field appearance="outline" class="full">
                    <mat-label>Periodo de Facturación</mat-label>
                    <mat-date-range-input [rangePicker]="picker" >
                      <input matStartDate formControlName="fechaDesde" placeholder="Fecha Inicio" (focus)="picker.open()">
                      <input matEndDate formControlName="fechaHasta" placeholder="Fecha Término" (focus)="picker.open()">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                    
                    <mat-error *ngIf="mf.fechaDesde.errors">
                        <span *ngIf="mf.fechaDesde.required">Fecha de Inicio Inválido</span>
                    </mat-error>

                    <mat-error *ngIf="mf.fechaDesde.errors">
                        <span *ngIf="mf.fechaDesde.required">Fecha de Inicio Inválido</span>
                    </mat-error>
                  </mat-form-field>
            </div>
            <div fxFlex="49%">
                <mat-form-field appearance="outline" class="full" >
                    <mat-label>Monto a Pagar</mat-label>
                    <input matInput formControlName="monto" currencyMask [options]="numberConfig">
                </mat-form-field>

            </div>
            <div fxFlex="49%">
                <mat-form-field appearance="outline" class="full" >
                    <mat-label>Estado</mat-label>
                    <mat-select formControlName="estado">
                        <mat-option *ngFor="let es of estados" [value]="es"> {{ es | removeUnderscore }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex="49%" *ngIf="mainForm.value.estado === 'PAGADO'">
                <mat-form-field appearance="outline" class="full">
                    <mat-label>Fecha del Pago</mat-label>
                    <input matInput formControlName="fechaPago" [matDatepicker]="pickerPago" (focus)="pickerPago.open()">
                    <mat-datepicker-toggle matSuffix [for]="pickerPago"></mat-datepicker-toggle>
                    <mat-datepicker #pickerPago></mat-datepicker>
                </mat-form-field>
            </div>
            <div fxFlex="{{ mainForm.value.estado === 'PAGADO' ? '100%' : '49%'}}">
                <mat-form-field appearance="outline" class="full">
                    <mat-label>Comentarios</mat-label>
                    <input matInput formControlName="comentarios">
                </mat-form-field>
            </div>
        </div>
        
    </form>

</mat-dialog-content>
<mat-dialog-actions align="center" >
    <button mat-flat-button color="warn" [mat-dialog-close]="true">Cerrar</button>
    <button mat-flat-button color="primary" (click)="save()" *ngIf="tipoUsuario === 'ADMIN'">Guardar</button>
</mat-dialog-actions>