<h2 mat-dialog-title>Datos del Agente</h2>
<mat-dialog-content class="dialog-content">

    <p class="alert warning">Para una mejor visualización de las fotos de perfil, deben ser cuadradas. Sugerencia: 256px * 256px</p>
    <form [formGroup]="mainForm">

        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div fxFlex="30%">
                <div class="pic-agente">
                    <input type="file" id="fotoperfil" (change)="fileChange($event.target.files)"
                    accept=".jpg, .png, .jpeg, .gif" hidden multiple>
                    <img *ngIf="!mainForm.value.foto" [src]="routeFotoPerfil + 'add-profile.png?alt=media'" (click)="openInputFile()">
                    <img *ngIf="mainForm.value.foto && !mainForm.value.foto.includes('data')" [src]="routeFotoPerfil + mainForm.value.foto + '?alt=media'"  (click)="removerImagen()">
                    <img *ngIf="mainForm.value.foto  && mainForm.value.foto.includes('data')" [src]="mainForm.value.foto"  (click)="removerImagen()">

                </div>
            </div>
            <div fxFlex="70%">
                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <div fxFlex="100%">
                        <mat-form-field class="full" appearance="outline">
                            <mat-label>Nombre</mat-label>
                            <input matInput formControlName="nombres" required>
                            <mat-error *ngIf="mf.nombres.errors">
                                <span *ngIf="mf.nombres.errors.required">Campo Obligatorio</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="49%">
                        <mat-form-field class="full" appearance="outline">
                            <mat-label>Apellido Paterno</mat-label>
                            <input matInput formControlName="apellido_paterno" required>
                            <mat-error *ngIf="mf.apellido_paterno.errors">
                                <span *ngIf="mf.apellido_paterno.errors.required">Campo Obligatorio</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="49%">
                        <mat-form-field class="full" appearance="outline">
                            <mat-label>Apellido Materno</mat-label>
                            <input matInput formControlName="apellido_materno">
                            <mat-error *ngIf="mf.apellido_materno.errors">
                                <span *ngIf="mf.apellido_materno.errors.required">Campo Obligatorio</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div fxFlex="49%">
                <mat-form-field class="full" appearance="outline">
                    <mat-label>RUT</mat-label>
                    <input matInput formControlName="rut" required placeholder="Ej: 12345678-9">
                    <mat-error *ngIf="mf.rut.errors">
                        <span *ngIf="mf.rut.errors.required">Campo Obligatorio</span>
                    </mat-error>
                    <mat-hint>Rut sin puntos y con guión</mat-hint>
                </mat-form-field>
            </div>

            <div fxFlex="49%">
                <mat-form-field class="full" appearance="outline">
                    <mat-label>Teléfono</mat-label>
                    <input matInput formControlName="telefono" maxlength="12" required>
                    <mat-error *ngIf="mf.telefono.errors">
                        <span *ngIf="mf.telefono.errors.required">Campo Obligatorio</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="100%">
                <mat-form-field class="full" appearance="outline">
                    <mat-label>Correo</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-error *ngIf="mf.email.errors">
                        <span *ngIf="mf.email.errors.required">Campo Obligatorio</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="49%" *ngIf="!input?.data?.from">
                <mat-form-field class="full" appearance="outline">
                    <mat-label>Estado</mat-label>
                    <mat-select formControlName="estado" required>
                        <mat-option *ngFor="let ee of estados" [value]="ee">{{ ee | removeUnderscore }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="mf.estado.errors">
                        <span *ngIf="mf.estado.errors.required">Campo Obligatorio</span>
                    </mat-error>
                </mat-form-field>
            </div>
            
            <div fxFlex="49%" *ngIf="!input?.data?.from">
                <mat-form-field class="full" appearance="outline">
                    <mat-label>Propiedades Preferentes</mat-label>
                    <mat-select formControlName="agenteTiposPropiedades" required multiple>
                        <mat-option *ngFor="let tp of tiposPropiedades" [value]="tp">{{ tp }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="mf.agenteTiposPropiedades.errors">
                        <span *ngIf="mf.agenteTiposPropiedades.errors.required">Campo Obligatorio</span>
                    </mat-error>
                </mat-form-field>
            </div>

        </div>
        <div *ngIf="input?.data?.from" style="padding:20px; background:#eee;">
            <h2 mat-dialog-title> Clave de Acceso</h2>
            <p class="alert warning" style="margin:15px 0px !important">Si desea cambiar la clave de acceso, solo complete los campos.</p>

            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                <div fxFlex="49%">
                    <mat-form-field class="full" appearance="outline">
                        <mat-label>Contraseña</mat-label>
                        <input type="password" matInput formControlName="clave">
                    </mat-form-field>
                </div>
                <div fxFlex="49%">
                    <mat-form-field class="full" appearance="outline">
                        <mat-label>Confirmar Contraseña</mat-label>
                        <input type="password" matInput formControlName="confirmarClave">
         
                    </mat-form-field>
                </div>
            </div>
        </div>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-flat-button class="primary-gray" [mat-dialog-close]="true">Cancelar</button>
    <button mat-flat-button color="primary" (click)="save()">Guardar</button>
</mat-dialog-actions>