@import "src/assets/theming/global.scss";

.pic-table{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid #eee;
}

.ess{
    font-weight: bold;
    display: block;
    text-align: center;
    width: 100%;
}

::ng-deep .mat-date-range-input-mirror{
    width: 100px;
}

.btngen{
    margin-left: 20px;
    position: relative;
    top: -6px;
    padding: 12px 22px;
}