<div class="form-content">
    <div class="form-login">
        <h3>CONNECTUS BACKOFFICE</h3>
        <span class="smtxt-blue">ADMIN PORTAL</span>
        <span class="smtxt">Welcome to platform. Please write your username and password to login.</span>
        <div class="input-login">
            <div [hidden]="enable2FACode">
                <mat-form-field appearance="outline" class="full">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" maxlength="15" [formControl]="usuario">
                    <mat-icon matPrefix class="iconprefix"><i class="fal fa-user-unlock"></i></mat-icon>
                    <mat-error *ngIf="usuario.invalid">Required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="full">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" maxlength="15" [formControl]="clave">
                    <mat-icon matPrefix class="iconprefix"><i class="fal fa-key"></i></mat-icon>
                    <mat-error *ngIf="clave.invalid">Required</mat-error>
                </mat-form-field>
            </div>
            <div [hidden]="!enable2FACode">   
                <mat-form-field appearance="outline" class="full" >
                    <mat-label>2FA Code</mat-label>
                    <input matInput type="password" maxlength="15" [formControl]="codigo2FA">
                    <mat-icon matPrefix class="iconprefix"><i class="fal fa-barcode-read"></i></mat-icon>
                    <mat-error *ngIf="clave.invalid">Required</mat-error>
                </mat-form-field>
                <span class="alert warning" >
                    Dear user, we have sent you 2FA code to login to platform. 
                    If you're having issues, contact us.</span>
            </div>

            <button mat-flat-button color="primary" class="btnCustom boldy full" (click)="login()">LOGIN</button>
            <div *ngIf="!enable2FACode">
                <button mat-stroked-button color="primary" class="btnCustom full boldy2" (click)="irA(1)">LOGIN FOR FIRST TIME</button>
                <button mat-stroked-button color="primary" class="btnCustom full boldy2" (click)="irA(2)"
                    [ngStyle]="{marginTop: tipoUsuario?.toLowerCase() !== 'admin' ? '0px' : ''}">DID YOU FORGET YOUR PASSWORD?</button>
            </div>

        </div>
    </div>
</div>
