<div class="appSection">
    <div class="white-container mat-elevation-z2">
        <div class="search-input">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxFlex="700px" fxFlex.xs="100%" class="alignLeft">
                    <button mat-flat-button color="primary" class="btnCustom boldy btnadd" (click)="openForm()">CREATE CATEGORY</button>
                </div>

                <div fxFlex="450px" fxFlex.xs="100%" class="alignRight">
                    <mat-form-field appearance="outline" class="no-padding ">
                        <mat-label>Find</mat-label>
                        <input matInput placeholder="Write..." (keyup)="setFilter($event.target.value)">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </div>
     
            </div>
        </div>
        <mat-table [dataSource]="dataSource" class="responsiveActive" matSort>
            
            <ng-container matColumnDef="imagen">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Picture </mat-header-cell>
                <mat-cell *matCellDef="let e" data-label="Picture">
                    <span *ngIf="e.imagen"><img [src]="routeStorage + pathFicheros +  e.imagen + '?alt=media'" class="pic-table"></span>
                    <span *ngIf="!e.imagen">--</span>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="detalle">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Category (Español) </mat-header-cell>
                <mat-cell *matCellDef="let e" data-label="Title"> <span>{{e.detalle}}</span> </mat-cell>
            </ng-container>

            <ng-container matColumnDef="detalleEN">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Category (English)  </mat-header-cell>
                <mat-cell *matCellDef="let e" data-label="Detail"> <span>{{e.detalleEN}}</span> </mat-cell>
            </ng-container>

            <ng-container matColumnDef="habilitado">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Enable </mat-header-cell>
                <mat-cell *matCellDef="let e" data-label="Estado" 
                    [ngClass]="{'success' : e.habilitado, 'danger' : !e.habilitado}">
                    <span class="cell-estado"> {{ e.habilitado ? 'Yes' : 'No' }}</span>
                </mat-cell>
            </ng-container>
     
            <ng-container matColumnDef="acciones">
                <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                <mat-cell *matCellDef="let e" data-label="Actions">
                    <span>                            
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="openForm(e._id)">
                                <mat-icon>create</mat-icon>
                                <span>View and Edit</span>
                            </button>
                        </mat-menu>
                        <button mat-icon-button [matMenuTriggerFor]="menu" matTooltipPosition="right">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </span>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columns" class="bgheader"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columns;"></mat-row>
            
        </mat-table>
        <p class="noresults" *ngIf="length === 0">Results not found.</p>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" (page)="utils.fnGoTop()"></mat-paginator>
    </div>
</div>