<h2 mat-dialog-title>Datos del Plan</h2>
<mat-dialog-content class="dialog-content">

    <form [formGroup]="mainForm">

        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div fxFlex="100%">
                <mat-form-field class="full" appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre" required>
                    <mat-error *ngIf="mf.nombre.errors">
                        <span *ngIf="mf.nombre.errors.required">Campo Obligatorio</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="49%">
                <mat-form-field class="full" appearance="outline">
                    <mat-label>Precio (clp)</mat-label>
                    <input matInput formControlName="precio" currencyMask [options]="numberConfig" required>
                    <mat-error *ngIf="mf.precio.errors">
                        <span *ngIf="mf.precio.errors.required">Campo Obligatorio</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="49%">
                <mat-form-field class="full" appearance="outline">
                    <mat-label>Comisión (%)</mat-label>
                    <input matInput formControlName="comision" currencyMask [options]="numberConfig" required>
                    <mat-error *ngIf="mf.comision.errors">
                        <span *ngIf="mf.comision.errors.required">Campo Obligatorio</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-flat-button class="primary-gray" [mat-dialog-close]="true">Cancelar</button>
    <button mat-flat-button color="primary" (click)="save()">Guardar</button>
</mat-dialog-actions>