<h2 mat-dialog-title>Datos del Pago</h2>
<mat-dialog-content class="dialog-content">

    <form [formGroup]="mainForm" class="form-pago">

        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div fxFlex="100%">
                <mat-form-field appearance="outline" class="full" >
                    <mat-label>Solicitudes Completadas</mat-label>
                    <mat-select formControlName="idSolicitud" required (selectionChange)="changeSolicitud($event)">
                        <mat-option *ngFor="let sc of solicitudesCompletadas" [value]="sc._id"> 
                            Solicitud #{{sc.referencia }} - {{ !sc.propiedad ? 'Sin Inmueble Asignado' : (sc.propiedad.tipoOperacion + ' - ' + sc.propiedad.titulo)}}
                        </mat-option>
                    </mat-select>
                    <mat-hint *ngIf="solicitudesCompletadas.length === 0">No existen solicitudes completadas disponibles</mat-hint>
                    <mat-error *ngIf="mf.idSolicitud.errors">
                        <span *ngIf="mf.idSolicitud.required">Solicitud es requerido</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="100%">
                <mat-form-field appearance="outline" class="full" >
                    <mat-label>Plan Aplicado</mat-label>
                    <mat-select formControlName="idPlanAgente" (selectionChange)="changePlan($event)" required>
                        <mat-option *ngFor="let pa of planesAgentes" [value]="pa._id"> {{ pa.nombre  }} / Precio: <b>{{ pa.precio | number:'1.0-0' }}</b> / Comisión: <b>{{ pa.comision | number:'1.0-0' }}%</b></mat-option>
                    </mat-select>
                    <mat-hint *ngIf="planesAgentes.length === 0">No existen Planes disponibles</mat-hint>
                    <mat-error *ngIf="mf.idPlanAgente.errors">
                        <span *ngIf="mf.idPlanAgente.required">Plan es requerido</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="20%">
                <mat-form-field appearance="outline" class="full" >
                    <mat-label>Moneda</mat-label>
                    <mat-select formControlName="moneda" required >
                        <mat-option *ngFor="let mo of monedas" [value]="mo"> {{ mo  }} </mat-option>
                    </mat-select>
                    <mat-error *ngIf="mf.moneda.errors">
                        <span *ngIf="mf.moneda.required">Plan es requerido</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="39%">
                <mat-form-field appearance="outline" class="full">
                    <mat-label>Precio Inmueble</mat-label>
                    <input matInput formControlName="precioPropiedad" (keyup)="calcular()" currencyMask [options]="numberConfig" required>
                    <mat-error *ngIf="mf.precioPropiedad.errors">
                        <span *ngIf="mf.precioPropiedad.required">Precio Inmueble es requerido</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="39%">
                <mat-form-field appearance="outline" class="full" >
                    <mat-label>Comisión (%)</mat-label>
                    <input matInput formControlName="montoComision" currencyMask [options]="numberConfig" required>
                    <mat-error *ngIf="mf.montoComision.errors">
                        <span *ngIf="mf.montoComision.required">Comisión es requerido</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="49%">
                <mat-form-field appearance="outline" class="full" >
                    <mat-label>Ganancia a Recibir ({{ mainForm.value.moneda }})</mat-label>
                    <input matInput formControlName="montoGanancia" currencyMask [options]="numberConfig" required>
                    <mat-error *ngIf="mf.montoGanancia.errors">
                        <span *ngIf="mf.montoGanancia.required">Ganancia es requerido</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="49%">
                <mat-form-field appearance="outline" class="full" >
                    <mat-label>Estado</mat-label>
                    <mat-select formControlName="estado" required>
                        <mat-option *ngFor="let es of estados" [value]="es"> {{ es | removeUnderscore }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex="100%">
                <mat-form-field appearance="outline" class="full" >
                    <mat-label>Comentarios y Observaciones Adicionales</mat-label>
                    <textarea matInput formControlName="comentarios"></textarea>
                </mat-form-field>
            </div>

            
        </div>
        
    </form>

</mat-dialog-content>
<mat-dialog-actions align="center" >
    <button mat-flat-button color="warn" [mat-dialog-close]="true">Cerrar</button>
    <button mat-flat-button color="primary" (click)="save()" *ngIf="tipoUsuario === 'ADMIN'">Guardar</button>
</mat-dialog-actions>