@import "src/assets/theming/global.scss";

.pic-table{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid #eee;
}

.ess{
    font-weight: bold;
    display: block;
    text-align: center;
    width: 100%;
}