<div class="form-content">
    <div class="form-login">
        <h3>RECUPERAR CLAVE</h3>
        <span class="smtxt-blue">{{ tipoUsuario | uppercase }}</span>

        <span class="alert warning" *ngIf="!recuperarClave.solicitar">
            Estimado usuario, te guiaremos para crear una NUEVA CLAVE.
            Favor completa los datos que se solicitan y haz clic en "Buscar".</span>

        <span class="alert success" *ngIf="recuperarClave.solicitar?.response && !recuperarClave.validar?.valid">
            Estimado usuario, su solicitud de recuperación de clave ha sido procesado,
            para continuar ingrese el código de 6 dígitos que ha sido enviado a su correo
            <b>{{recuperarClave.solicitar?.email }}.</b>
        </span>

        <span class="alert danger"
            *ngIf="recuperarClave.solicitar?.hasOwnProperty('response') && !recuperarClave.solicitar?.response">
            {{ recuperarClave.solicitar.message }}
        </span>

        <span class="alert success" *ngIf="recuperarClave.validar?.valid && !recuperarClave.procesar?.response">
            Código ingresado es válido. Ahora cree una nueva contraseña con que ingresará a la plataforma.
        </span>

        <span class="alert danger"
            *ngIf="recuperarClave.validar?.hasOwnProperty('valid') && !recuperarClave.validar?.valid">
            Código ingresado no es válido. Verifique e intente nuevamente.
        </span>

        <span class="alert danger" *ngIf="recuperarClave.procesar && !recuperarClave.procesar?.response">
            {{ recuperarClave.procesar.message }}
        </span>

        <div *ngIf="!recuperarClave.procesar || !recuperarClave.procesar?.response">
            <div class="input-login" *ngIf="!recuperarClave.solicitar || !recuperarClave.solicitar?.response">
                <mat-form-field appearance="outline" class="full">
                    <mat-label>Usuario</mat-label>
                    <input matInput type="text" maxlength="15" [formControl]="usuario" placeholder="Nombre de usuario">
                    <mat-icon matPrefix class="iconprefix"><i class="fal fa-user-unlock"></i></mat-icon>
                    <mat-error *ngIf="usuario.hasError('required')">Usuario es requerido</mat-error>
                    <mat-error *ngIf="usuario.hasError('minlength') || usuario.hasError('maxlength')">El usuario debe
                        tener entre 8 y 15 caracteres.</mat-error>
                </mat-form-field>
                <button mat-flat-button color="primary" class="btnCustom boldy full"
                    (click)="solicitarClave()">BUSCAR</button>
            </div>

            <div class="input-login" *ngIf="recuperarClave.solicitar?.response && !recuperarClave.validar?.valid">
                <mat-form-field appearance="outline" class="full">
                    <mat-label>Código de Validación</mat-label>
                    <input matInput type="text" [formControl]="codigoValidacion" maxlength="6" placeholder="*****">
                    <mat-icon matPrefix class="iconprefix"><i class="fal fa-barcode-read"></i></mat-icon>
                    <mat-error *ngIf="codigoValidacion.invalid">Código de Validación es requerido</mat-error>
                </mat-form-field>
                <button mat-flat-button color="primary" class="btnCustom boldy full"
                    (click)="validarSolicitudClave()">CONTINUAR</button>
            </div>

            <div *ngIf="recuperarClave.validar?.valid">

                <mat-form-field appearance="outline" class="full">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" maxlength="15" [formControl]="clave"
                        placeholder="Escriba una contraseña">
                    <mat-icon matPrefix class="iconprefix"><i class="fal fa-key"></i></mat-icon>
                    <mat-error *ngIf="clave.hasError('required')">Contraseña es requerida</mat-error>
                    <mat-error *ngIf="clave.hasError('minlength') || clave.hasError('maxlength')">El usuario debe tener
                        entre 8 y 15 caracteres.</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="full">
                    <mat-label>Confirmar contraseña</mat-label>
                    <input matInput type="password" maxlength="15" [formControl]="confirmarClave"
                        placeholder="Confirma la contraseña">
                    <mat-icon matPrefix class="iconprefix"><i class="fal fa-key"></i></mat-icon>
                    <mat-error *ngIf="confirmarClave.hasError('required')">Confirmación de contraseña es requerido
                    </mat-error>
                    <mat-error *ngIf="confirmarClave.hasError('minlength') || confirmarClave.hasError('maxlength')">La
                        clave debe tener entre 8 y 15 caracteres.</mat-error>
                    <mat-error *ngIf="confirmarClave.hasError('compare')">Las contraseñas no coinciden.</mat-error>
                </mat-form-field>
                <button mat-flat-button color="primary" class="btnCustom boldy full" (click)="procesarSolicitudClave()">CAMBIAR CLAVE</button>
            </div>
        </div>
        <div *ngIf="recuperarClave.procesar && recuperarClave.procesar?.response">
            <h3 class="text-success">CLAVE CAMBIADA SATISFACTORIAMENTE</h3>
        </div>
        <button mat-stroked-button color="primary" class="btnCustom full boldy2" (click)="irLogin()">VOLVER AL
            LOGIN</button>

    </div>
</div>