h3{
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding:20px;
    background: #fff;
    
}
.white-container{
    padding:0px;
    background: #f2f2f2;
}

.info{
    padding:22px;
    p{
        padding:10px 0px;
        text-transform: uppercase;
    }
}

.link-action{
    font-weight: bold;
    padding: 10px;
    display: block;
    text-align: right;
    cursor: pointer;
}

.note{
    background: #f6e488;
    width: inherit;
    display: block;
    padding: 15px;
}

.comentarios{
    margin: 20px;
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;

    p{
        background: #fafafa;
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-bottom: 20px !important;
        border-left: 7px solid;
        position: relative;

        .date-c{
            font-weight: bold;
            margin-right: 10px;
        }

        .mat-icon{
            position: absolute;
            right: 15px;
            top: 20px;
            cursor:pointer;
        }
    }   
}

.green{
    background: green;
    color:#fff;
}

.actions{
    background: #fff !important;
    text-align: right !important;
    border:1px solid #ddd;
    padding: 25px;
    display: inline-block;
    margin-bottom: 40px;
    button{
        margin-right: 20px;
    }
}

.chipEstado{
    margin-left: 10px;
    font-weight: bold;
    padding: 7px 10px;
    border-radius: 6px
}

::ng-deep .mat-tab-label-content{
    font-weight: bold;
    color: #000 !important;
    opacity: 1 !important;
    font-size: 16px !important;
}