<app-return [url]="'/agentes'" [text]="'VOLVER AL LISTADO DE AGENTES'" *ngIf="agente?.tipoUsuario === 'AGENTE'">
</app-return>

<mat-card class="info-ag" *ngIf="agente && tipoUsuario === 'ADMIN'">
    <div fxLayout="row">
        <div fxFlex>
            <img *ngIf="!agente.foto" [src]="routeFotoPerfil + 'blank_profile.png?alt=media'" class="pic-det">
            <img *ngIf="agente.foto" [src]="routeFotoPerfil + agente.foto + '?alt=media'" class="pic-det">
        </div>
        <div fxFlex="100%">
            <div class="sedet"><b>{{ agente.tipoUsuario === 'ADMIN' ? 'Administrador' : 'Agente'}}:</b> {{
                agente.nombres }} {{ agente.apellido_paterno }} {{ agente.apellido_materno }} </div>
            <div class="sedet"><b>RUT:</b> {{ agente.rut }}</div>
            <div class="sedet"><b>Estado:</b> {{ agente.estado | removeUnderscore }} </div>
        </div>

    </div>

</mat-card>
<div class="appSection">
    <div class="white-container mat-elevation-z2">
        <div class="search-input">
            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                <div fxFlex fxFlex.xs="100%" class="alignLeft" (click)="openForm()" *ngIf="tipoUsuario === 'ADMIN'">
                    <button mat-flat-button color="primary" class="btnCustom boldy">Nuevo Control de Pago</button>
                </div>
                <div fxFlex fxFlex.xs="100%" class="alignRight">
                    <button mat-flat-button color="primary" class="btnCustom boldy btnExcel" (click)="exportarExcel()">
                        <i class="fal fa-file-excel"></i> 
                        EXPORTAR EXCEL</button>
                    <mat-form-field appearance="outline" class="no-padding">
                        <mat-label>Buscar</mat-label>
                        <input matInput placeholder="Escriba..." (keyup)="setFilter($event.target.value)">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <mat-table [dataSource]="dataSource" class="responsiveActive" matSort>

            <ng-container matColumnDef="periodo">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Periodo Facturado </mat-header-cell>
                <mat-cell *matCellDef="let e" data-label="Periodo Facturado"> 
                    <span>{{ e.fechaDesde | date:'dd-MM-yyy' }} - {{ e.fechaHasta | date:'dd-MM-yyyy' }}</span> 
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="plan">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Plan Asignado </mat-header-cell>
                <mat-cell *matCellDef="let e" data-label="Plan Asignado"> <span>{{ e.planAgente?.nombre }}</span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="monto">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Monto a Pagar </mat-header-cell>
                <mat-cell *matCellDef="let e" data-label="Monto a Pagar"><span>CLP {{e.monto | number : '1.0-0'}}</span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="fechaModificacion">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Últ. Modificación </mat-header-cell>
                <mat-cell *matCellDef="let e" data-label="Últ. Modificación"> 
                    <span>{{ e.fechaModificacion | date:'dd-MM-yyy HH:mm:ss' }}</span> 
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="estado">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
                <mat-cell *matCellDef="let e" data-label="Estado" 
                [ngClass]="{'success' : e.estado === 'PAGADO', 'danger' : e.estado === 'ANULADO' , 'warning' : e.estado !== 'PAGADO' &&  e.estado !== 'ANULADO'}">
          
                   <span class="cell-estado" *ngIf="e.estado === 'PAGADO'"> {{ e.estado | removeUnderscore }} EL {{e.fechaPago | date:'dd-MM-yyyy' }}</span>
                   <span class="cell-estado" *ngIf="e.estado !== 'PAGADO'"> {{ e.estado | removeUnderscore }} </span>

                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                <mat-cell *matCellDef="let e" data-label="Acciones">
                    <span>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="openForm(e._id)">
                                <mat-icon>{{ tipoUsuario === 'ADMIN' ? 'create' : 'remove_red_eye'}}</mat-icon>
                                <span> {{ tipoUsuario === 'ADMIN' ? 'Ver y Editar' : 'Ver Registro'}}</span>
                            </button>
                        </mat-menu>
                        <button mat-icon-button [matMenuTriggerFor]="menu" matTooltipPosition="right">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </span>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="columns" class="bgheader"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columns;"></mat-row>
        </mat-table>
        <p class="noresults" *ngIf="length === 0">No se encontraron resultados</p>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" (page)="utils.fnGoTop()"></mat-paginator>
    </div>
</div>