<h2 mat-dialog-title> {{ !input?.data?.from ? 'Datos del Administrador' : 'Tus datos como Administrador' }}</h2>
<mat-dialog-content class="dialog-content">

    <p class="alert warning">Para una mejor visualización de las fotos de perfil, deben ser cuadradas. Sugerencia: 256px
        * 256px</p>
    <form [formGroup]="mainForm">

        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div fxFlex="30%">
                <div class="pic-agente">
                    <input type="file" id="fotoperfil" (change)="fileChange($event.target.files)"
                        accept=".jpg, .png, .jpeg, .gif" hidden multiple>
                    <img *ngIf="!mainForm.value.foto" [src]="routeFotoPerfil + 'add-profile.jpg?alt=media'"
                        (click)="openInputFile()">
                    <img *ngIf="mainForm.value.foto && !mainForm.value.foto.includes('data')"
                        [src]="routeFotoPerfil + mainForm.value.foto + '?alt=media'" (click)="removerImagen()">
                    <img *ngIf="mainForm.value.foto  && mainForm.value.foto.includes('data')"
                        [src]="mainForm.value.foto" (click)="removerImagen()">

                </div>
            </div>
            <div fxFlex="70%">
                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <div fxFlex="49%">
                        <mat-form-field class="full" appearance="outline">
                            <mat-label>Username</mat-label>
                            <input matInput disabled value="{{ nomUsuario | uppercase }}">
                        </mat-form-field>
                    </div>
                    <div fxFlex="49%">
                        <mat-form-field class="full" appearance="outline">
                            <mat-label>Name</mat-label>
                            <input matInput formControlName="nombres" required>
                            <mat-error *ngIf="mf.nombres.errors">
                                <span *ngIf="mf.nombres.errors.required">Required</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="49%">
                        <mat-form-field class="full" appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input matInput formControlName="apellido_paterno" required>
                            <mat-error *ngIf="mf.apellido_paterno.errors">
                                <span *ngIf="mf.apellido_paterno.errors.required">Required</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="49%">
                        <mat-form-field class="full" appearance="outline">
                            <mat-label>Second Last Name</mat-label>
                            <input matInput formControlName="apellido_materno">
                            <mat-error *ngIf="mf.apellido_materno.errors">
                                <span *ngIf="mf.apellido_materno.errors.required">Required</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

            </div>

            <div fxFlex="49%">
                <mat-form-field class="full" appearance="outline">
                    <mat-label>Phone</mat-label>
                    <input matInput formControlName="telefono" maxlength="12" required>
                    <mat-error *ngIf="mf.telefono.errors">
                        <span *ngIf="mf.telefono.errors.required">Required</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="{{ !input?.data?.from ? '49%' : '100%' }} ">
                <mat-form-field class="full" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-error *ngIf="mf.email.errors">
                        <span *ngIf="mf.email.errors.required">Required</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="49%" *ngIf="!input?.data?.from">
                <mat-form-field class="full" appearance="outline">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="estado" required>
                        <mat-option *ngFor="let ee of estados" [value]="ee">{{ ee | removeUnderscore }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="mf.estado.errors">
                        <span *ngIf="mf.estado.errors.required">Required</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="49%" *ngIf="!input?.data?.from">
                <mat-form-field class="full" appearance="outline">
                    <mat-label>Module Access</mat-label>
                    <mat-select formControlName="modulos" required multiple>
                        <mat-option *ngFor="let ee of modulos" [value]="ee">{{ ee | removeUnderscore }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="mf.modulos.errors">
                        <span *ngIf="mf.modulos.errors.required">Required</span>
                    </mat-error>
                </mat-form-field>
            </div>

        </div>
        <div *ngIf="input?.data?.from" style="padding:20px; margin-bottom:15px; background:#eee;">
            <h2 mat-dialog-title> Activate 2FA ({{ mainForm.value.a2FA ? 'Activo' : 'Inactivo'}})</h2>
            <mat-checkbox formControlName="a2FA" style="margin-top: 10px;">
                Check to activate 2FA
            </mat-checkbox>
        </div>
        <div *ngIf="input?.data?.from" style="padding:20px; background:#eee;">
            <h2 mat-dialog-title> Access Password</h2>
            <p class="alert warning" style="margin:15px 0px !important">If you want to change your password, only 
                complete the fields and save it..</p>

            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                <div fxFlex="49%">
                    <mat-form-field class="full" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput formControlName="clave">
                    </mat-form-field>
                </div>
                <div fxFlex="49%">
                    <mat-form-field class="full" appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input type="password" matInput formControlName="confirmarClave">

                    </mat-form-field>
                </div>
            </div>
        </div>

    </form>

</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-flat-button class="primary-gray" [mat-dialog-close]="true">Cancel</button>
    <button mat-flat-button color="primary" (click)="save()">Save</button>
</mat-dialog-actions>