<div class="appSection">
    <div class="white-container mat-elevation-z2">
        <div class="search-input">
            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                <div fxFlex="50%" fxFlex.xs="100%" class="alignLeft">
                    <button mat-flat-button color="primary" class="btnCustom boldy" (click)="openForm()">AGREGAR PLAN</button>
                </div>
                <div fxFlex="50%" fxFlex.xs="100%" class="alignRight">
                    <mat-form-field appearance="outline" class="no-padding">
                        <mat-label>Buscar</mat-label>
                        <input matInput placeholder="Escriba..." (keyup)="setFilter($event.target.value)">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <mat-table [dataSource]="dataSource" class="responsiveActive" matSort>
            
            <ng-container matColumnDef="nombre">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del Plan </mat-header-cell>
                <mat-cell *matCellDef="let e" data-label="Nombre del Plan"> <span>{{e.nombre}}</span> </mat-cell>
            </ng-container>

            <ng-container matColumnDef="precio">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Precio </mat-header-cell>
                <mat-cell *matCellDef="let e" data-label="Precio"> <span>CLP {{e.precio | number : '1.0-0'}}</span> </mat-cell>
            </ng-container>

            <ng-container matColumnDef="comision">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Comisión </mat-header-cell>
                <mat-cell *matCellDef="let e" data-label="comision"> <span>{{e.comision | number : '1.0-0'}}%</span> </mat-cell>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                <mat-cell *matCellDef="let e" data-label="Acciones">
                    <span>                            

                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="openForm(e._id)">
                                <mat-icon>create</mat-icon>
                                <span>Ver y Editar</span>
                            </button>
                        </mat-menu>
                        <button mat-icon-button [matMenuTriggerFor]="menu" matTooltipPosition="right">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </span>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columns" class="bgheader"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columns;"></mat-row>
        </mat-table>
        <p class="noresults" *ngIf="length === 0">No se encontraron resultados</p>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" (page)="utils.fnGoTop()"></mat-paginator>
    </div>
</div>