<h2 mat-dialog-title>Selección de Cliente</h2>
<mat-dialog-content class="dialog-content">
    <mat-form-field class="full" appearance="outline">
        <mat-label>LISTADO DE CLIENTES EXISTENTES</mat-label>
        <input type="text" placeholder="Escriba para buscar clientes existentes" matInput [formControl]="inputControl" [matAutocomplete]="auto">
        <mat-icon matPrefix class="iconprefix"><i class="fal fa-users"></i></mat-icon>
        <mat-autocomplete [displayWith]="displayFn" #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let cliente of filteredClientes | async" [value]="cliente">
                {{cliente.nombres | uppercase }} {{cliente.apellidos | uppercase}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-flat-button color="warn" [mat-dialog-close]="true">CANCELAR</button>
</mat-dialog-actions>