<div class="appSection">
    <div class="white-container mat-elevation-z2">
        <form [formGroup]="mainForm">
            <div fxLayout="row wrap" fxLayoutAlign="space-between">
                <div fxFlex="50%" fxFlex.sm="100%" fxFlex.md="100%" fxFlex.xs="100%">
                    
                        <div fxLayout="row wrap" fxLayoutAlign="space-between">
                            <div fxFlex="30%" fxFlex.sm="100%" fxFlex.md="100%" fxFlex.xs="100%"
                                *ngIf="tipoUsuario === 'ADMIN'">
                                <span class="resaltado" matRipple [ngClass]="{'active' : mainForm.value.destacado}"
                                    (click)="destacar(mainForm.value.destacado)">
                                    <mat-icon>verified</mat-icon>
                                    PROPIEDAD <br /> DESTACADA
                                </span>
                            </div>

                            <div fxFlex="{{ tipoUsuario === 'ADMIN' ? '69%' : '100%' }}" fxFlex.sm="100%" fxFlex.md="100%"
                                fxFlex.xs="100%">
                                <mat-form-field class="full" appearance="outline">
                                    <mat-label>Título</mat-label>
                                    <input matInput formControlName="titulo" maxlength="150" required>
                                    <mat-error *ngIf="mf.titulo.errors">
                                        <span *ngIf="mf.titulo.errors.required">Campo Obligatorio</span>
                                    </mat-error>
                                    <mat-hint>{{ mainForm.value.titulo.length }}/150</mat-hint>
                                </mat-form-field>
                            </div>

                            <div fxFlex="100%">
                                <mat-form-field class="full" appearance="outline">
                                    <mat-label>Descripción</mat-label>
                                    <textarea matInput formControlName="descripcion" maxlength="1000" rows="5" required>
                                        </textarea>
                                    <mat-error *ngIf="mf.descripcion.errors">
                                        <span *ngIf="mf.descripcion.errors.required">Campo Obligatorio</span>
                                    </mat-error>
                                    <mat-hint>{{ mainForm.value.descripcion.length }}/1000</mat-hint>

                                </mat-form-field>
                            </div>
                            <div fxFlex="49%">
                                <mat-form-field class="full" appearance="outline">
                                    <mat-label>Tipo de Operación</mat-label>
                                    <mat-select formControlName="tipoOperacion" required>
                                        <mat-option [value]="'VENTA'">Venta</mat-option>
                                        <mat-option [value]="'ARRIENDO'">Arriendo</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="mf.tipoOperacion.errors">
                                        <span *ngIf="mf.tipoOperacion.errors.required">Campo Obligatorio</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="24%">
                                <mat-form-field class="full" appearance="outline">
                                    <mat-label>Superficie (m<sup>2</sup>)</mat-label>
                                    <input matInput formControlName="metraje" currencyMask [options]="numberConfig"
                                        required>
                                    <mat-error *ngIf="mf.metraje.errors">
                                        <span *ngIf="mf.metraje.errors.required">Campo Obligatorio</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="24%">
                                <mat-form-field class="full" appearance="outline">
                                    <mat-label>Año Construcción</mat-label>
                                    <input matInput formControlName="anioConstruccion" maxlength="4" required>
                                    <mat-error *ngIf="mf.anioConstruccion.errors">
                                        <span *ngIf="mf.anioConstruccion.errors.required">Campo Obligatorio</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="49%">
                                <mat-form-field class="full" appearance="outline">
                                    <mat-label>Tipo de Propiedad</mat-label>
                                    <mat-select formControlName="idTipoPropiedad" required>
                                        <mat-option [value]="tp.detalle" *ngFor="let tp of tiposPropiedades">{{ tp.detalle
                                            }}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="mf.idTipoPropiedad.errors">
                                        <span *ngIf="mf.idTipoPropiedad.errors.required">Campo Obligatorio</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div fxFlex="49%">
                                <mat-form-field class="full" appearance="outline">
                                    <mat-label>Región</mat-label>
                                    <mat-select formControlName="region" required
                                        (selectionChange)="seleccionLocalidad($event, 'REGION')">
                                        <mat-option [value]="reg.region" *ngFor="let reg of regionesComunas">({{
                                            reg.region_number }}) {{ reg.region }}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="mf.region.errors">
                                        <span *ngIf="mf.region.errors.required">Campo Obligatorio</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="49%">
                                <mat-form-field class="full" appearance="outline">
                                    <mat-label>Provincia</mat-label>
                                    <mat-select formControlName="provincia" required
                                        (selectionChange)="seleccionLocalidad($event, 'PROVINCIA')">
                                        <mat-option [value]="prov.name" *ngFor="let prov of listadoLocalidades.provincias">
                                            {{ prov.name }}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="mf.provincia.errors">
                                        <span *ngIf="mf.provincia.errors.required">Campo Obligatorio</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="49%">
                                <mat-form-field class="full" appearance="outline">
                                    <mat-label>Comuna</mat-label>
                                    <mat-select formControlName="comuna" required>
                                        <mat-option [value]="com.name" *ngFor="let com of listadoLocalidades.comunas">{{
                                            com.name }}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="mf.comuna.errors">
                                        <span *ngIf="mf.comuna.errors.required">Campo Obligatorio</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="100%">
                                <mat-form-field class="full" appearance="outline">
                                    <mat-label>Dirección</mat-label>
                                    <textarea matInput formControlName="direccion" maxlength="200" required>
                                        </textarea>
                                    <mat-error *ngIf="mf.direccion.errors">
                                        <span *ngIf="mf.direccion.errors.required">Campo Obligatorio</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="32%">
                                <mat-form-field class="full" appearance="outline">
                                    <mat-label>Habitaciones</mat-label>
                                    <mat-select formControlName="habitaciones" required>
                                        <mat-option [value]="-1">No Aplica</mat-option>
                                        <mat-option [value]="i + 1" *ngFor="let qty of [].constructor(8); let i = index;">{{ i +  1 }}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="mf.habitaciones.errors">
                                        <span *ngIf="mf.habitaciones.errors.required">Campo Obligatorio</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="32%">
                                <mat-form-field class="full" appearance="outline">
                                    <mat-label>Baños</mat-label>
                                    <mat-select formControlName="banos" required>
                                        <mat-option [value]="-1">No Aplica</mat-option>
                                        <mat-option [value]="i + 1" *ngFor="let qty of [].constructor(8); let i = index;">{{ i + 1 }}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="mf.banos.errors">
                                        <span *ngIf="mf.banos.errors.required">Campo Obligatorio</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="32%">
                                <mat-form-field class="full" appearance="outline">
                                    <mat-label>Estacionamientos</mat-label>
                                    <mat-select formControlName="estacionamiento" required>
                                        <mat-option [value]="-1">No Aplica</mat-option>
                                        <mat-option [value]="i" *ngFor="let qty of [].constructor(8); let i = index;">{{ i }}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="mf.estacionamiento.errors">
                                        <span *ngIf="mf.estacionamiento.errors.required">Campo Obligatorio</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="49%">
                                <mat-form-field class="full" appearance="outline">
                                    <mat-label>Precio</mat-label>
                                    <input matInput formControlName="precio" currencyMask [options]="numberConfig" required>
                                    <mat-hint>
                                        CLP {{ (mainForm.value.precio * indicadores?.uf?.valor | number : '1.0-0') }} / 
                                        USD {{ ((mainForm.value.precio * indicadores?.uf?.valor) / indicadores?.dolar_intercambio?.valor | number: '1.0-0') }}
                                    </mat-hint>
                                    <mat-error *ngIf="mf.precio.errors">
                                        <span *ngIf="mf.precio.errors.required">Campo Obligatorio</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="24%">
                                <mat-form-field class="full" appearance="outline">
                                    <mat-label>Moneda</mat-label>
                                    <mat-select formControlName="moneda" required>
                                        <mat-option [value]="'UF'">UF</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="mf.moneda.errors">
                                        <span *ngIf="mf.moneda.errors.required">Campo Obligatorio</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="24%">
                                <mat-form-field class="full" appearance="outline">
                                    <mat-label>Estado</mat-label>
                                    <mat-select formControlName="estado" required>
                                        <mat-option [value]="'ACTIVO'">ACTIVO</mat-option>
                                        <mat-option [value]="'INACTIVO'">INACTIVO</mat-option>
                                        <mat-option [value]="'NO DISPONIBLE'">NO DISPONIBLE</mat-option>
                                        <mat-option [value]="'VENDIDA'">VENDIDA</mat-option>

                                    </mat-select>
                                    <mat-error *ngIf="mf.estado.errors">
                                        <span *ngIf="mf.estado.errors.required">Campo Obligatorio</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                </div>
                <div fxFlex="49%" style="background:#eee;" fxFlex.sm="100%" fxFlex.md="100%" fxFlex.xs="100%">
                    <mat-tab-group mat-align-tabs="center">
                        <mat-tab label="EXTRAS">
                            <div *ngTemplateOutlet="extras"></div>
                        </mat-tab>
                        <mat-tab label="AMMENIDADES">
                            <div *ngTemplateOutlet="amenidadesTemplate"></div>
                        </mat-tab>
                        <mat-tab label="FOTOGRAFÍAS">
                            <div *ngTemplateOutlet="fotografiasTemplate"></div>
                        </mat-tab>
                        <mat-tab label="DOCUMENTOS">
                            <div *ngTemplateOutlet="ficherosTemplate"></div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </form>
        <div class="actions">
            <button mat-flat-button color="primary" class="btnCustom boldy" (click)="save()">GUARDAR</button>
        </div>
    </div>
</div>

<ng-template #fotografiasTemplate>
    <div class="content-upload">
        <h3 class="text-qty">Carga de Fotografías ({{ imagenes.length + listadoImagenes.length }}/12)</h3>
        <span class="alert warning">Estimado usuario, para mejor visualización de las fotografías de los inmuebles,
            recomendamos subirlas
            a una resolución de <b>1200px * 800px</b> o su proporcional, <b>no mayor a 1MB.</b>
        </span>
        <div>
            <div fxLayout="row wrap" cdkDropListGroup cdkDropListOrientation="horizontal" fxLayoutGap="1%"
                fxLayout.xs="column">
                <div fxFlex="32%" cdkDropList [cdkDropListData]="i" class="prev-pic imm"
                    *ngFor="let pic of imagenes; let i = index">
                    <div class="dragsec" cdkDrag [cdkDragData]="i" (cdkDragEntered)="entered($event)">
                        <img class="dragimg" [src]="picRoutePropiedades + pic.fichero + '?alt=media'" height="120px">
                        <button mat-mini-fab color="primary" (click)="borrarFichero(pic, 'imagenes')">
                            <mat-icon>clear</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="text-qty" *ngIf="listadoImagenes.length > 0" style="margin:30px 0px 20px 0px !important">Fotografías
            pendientes por cargar</h3>

        <div fxLayout="row wrap" fxLayoutGap="1%" fxLayout.xs="column">
            <div fxFlex="32%" class="prev-pic imm" *ngFor="let pic of listadoImagenes; let i = index">
                <img [src]="pic.fichero">
                <button mat-mini-fab color="primary" (click)="borrarFichero(i, 'listadoImagenes')">
                    <mat-icon>clear</mat-icon>
                </button>
            </div>
        </div>
        <div class="pic-seccion" *ngIf="imagenes.length < 12">
            <input type="file" id="imagenes" (change)="fileChange($event.target.files, 'imagenes')"
                accept=".jpg, .png, .jpeg, .gif" hidden multiple>
            <button mat-raised-button color="primary"
                *ngIf="(listadoImagenes.length + imagenes.length) < 12 && idPropiedad"
                (click)="openInputFile('imagenes')" class="mat-elevation-z6" style="margin-right:20px;">
                Seleccionar Imágenes
            </button>
            <h4 *ngIf="!idPropiedad">Primero debe guardar los datos de la propiedad para poder subir las fotografías.
            </h4>
            <button mat-raised-button color="warn" *ngIf="listadoImagenes.length > 0" (click)="subirFicheros()"
                class="mat-elevation-z6">
                Cargar {{ listadoImagenes.length }} Imágenes pendiente(s)
            </button>
        </div>
    </div>
</ng-template>

<ng-template #ficherosTemplate>
    <div class="content-upload">
        <h3 class="text-qty">Carga de Documentos ({{ ficheros.length + listadoFicheros.length }}/12)</h3>
        <span class="alert warning">Estimado usuario, los documentos para cargar <b>no deben ser mayor a 1MB.</b>
        </span>
        <div>
            <div fxLayout="row wrap" fxLayoutGap="1%" fxLayout.xs="column">
                <div fxFlex="32%" class="prev-pic" *ngFor="let fic of ficheros; let i = index">
                    <a [href]="docRoutePropiedades + fic.fichero + '?alt=media'" class="icon-fichero" target="_blank">
                        <img src="assets/images/descargar_excel.png"
                            *ngIf="fic.nombre.includes('.xls') || fic.nombre.includes('.xlsx')">
                        <img src="assets/images/descargar_word.png"
                            *ngIf="fic.nombre.includes('.doc') || fic.nombre.includes('.docx')">
                        <img src="assets/images/descargar_pdf.png" *ngIf="fic.nombre.includes('.pdf')">
                        <span>{{ fic.nombre }}</span>
                    </a>
                    <button mat-mini-fab color="primary" (click)="borrarFichero(fic, 'ficheros', 'DOCUMENTOS')">
                        <mat-icon>clear</mat-icon>
                    </button>
                    <button mat-mini-fab color="primary" style="top:50px" class="mail-icon" (click)="openEnviarDocumento(docRoutePropiedades + fic.fichero + '?alt=media')">
                        <mat-icon>mail</mat-icon>
                    </button>
                </div>
            </div>
        </div>

        <h3 class="text-qty" *ngIf="listadoFicheros.length > 0" style="margin:30px 0px 20px 0px !important">Documentos
            pendientes por cargar</h3>

        <div fxLayout="row wrap" fxLayoutGap="1%" fxLayout.xs="column">
            <div fxFlex="32%" class="prev-pic" *ngFor="let fic of listadoFicheros; let i = index">
                <a [href]="fic.fichero" class="icon-fichero" target="_blank">
                    <img src="assets/images/descargar_excel.png"
                        *ngIf="fic.nombre.includes('.xls') || fic.nombre.includes('.xlsx')">
                    <img src="assets/images/descargar_word.png"
                        *ngIf="fic.nombre.includes('.doc') || fic.nombre.includes('.docx')">
                    <img src="assets/images/descargar_pdf.png" *ngIf="fic.nombre.includes('.pdf')">
                    <span>{{ fic.nombre }}</span>
                </a>
                <button mat-mini-fab color="primary" (click)="borrarFichero(i, 'listadoFicheros', 'DOCUMENTOS')" *ngIf="tipoUsuario === 'ADMIN'">
                    <mat-icon>clear</mat-icon>
                </button>
            </div>
        </div>
        <div class="pic-seccion" *ngIf="ficheros.length < 12">
            <input type="file" id="ficheros" (change)="fileChange($event.target.files, 'ficheros')"
                accept=".pdf, .doc, .docx, .xls, .xlsx" hidden multiple>
            <button mat-raised-button color="primary"
                *ngIf="(listadoFicheros.length + ficheros.length) < 12 && idPropiedad"
                (click)="openInputFile('ficheros')" class="mat-elevation-z6" style="margin-right:20px;">
                Seleccionar Documentos
            </button>
            <h4 *ngIf="!idPropiedad">Primero debe guardar los datos de la propiedad para poder subir los documentos.
            </h4>
            <button mat-raised-button color="warn" *ngIf="listadoFicheros.length > 0"
                (click)="subirFicheros('DOCUMENTOS')" class="mat-elevation-z6">
                Cargar {{ listadoFicheros.length }} documentos pendiente(s)
            </button>
        </div>
    </div>
</ng-template>

<ng-template #amenidadesTemplate>
    <div class="content-upload">
        <h3 class="text-qty">Amenidades</h3>
        <div class="content-chk nw">
            <mat-checkbox color="primary" [checked]="seleccionTodo" (change)="seleccionatTodo($event)">Seleccionar todo</mat-checkbox>
        </div>
        <div class="content-chk" fxLayout="row wrap" fxLayoutAlign="space-between">
            <mat-checkbox fxFlex="32%" [(ngModel)]="am.selected" color="primary" *ngFor="let am of amenidades">{{am.detalle }}</mat-checkbox>
        </div>
        <h3 class="text-qty" style="margin-top: 20px !important">Video Youtube</h3>
        <mat-form-field class="full" appearance="outline">
            <mat-label>Iframe Video</mat-label>
            <textarea matInput (keyup)="changeVideoUrl($event)" value="{{ mainForm.value.videoUrl }}" rows="5"></textarea>
        </mat-form-field>
    </div>
</ng-template>

<ng-template #extras>
    <div class="content-upload">
        <mat-card>
            <h3 style="margin-bottom: 15px !important; display: block;">Agregue características adicionales de la propiedad</h3>
            <div fxLayout="row wrap" fxLayoutAlign="space-between">
                <div fxFlex="30%">
                    <mat-form-field class="full" appearance="outline">
                        <mat-label>Nombre</mat-label>
                        <input matInput [(ngModel)]="formExtra.nombre">
                    </mat-form-field>
                </div>
                <div fxFlex="30%">
                    <mat-form-field class="full" appearance="outline">
                        <mat-label>Detalle</mat-label>
                        <input matInput [(ngModel)]="formExtra.detalle">
                    </mat-form-field>
                </div>
                <div fxFlex="25%">
                    <mat-form-field class="full" appearance="outline">
                        <mat-label>Unidad</mat-label>
                        <mat-select [(ngModel)]="formExtra.unidad">
                            <mat-option [value]="'-1'">No Aplica</mat-option>
                            <mat-option [value]="'m<sup>2</sup>'">m<sup>2</sup></mat-option>
                            <mat-option [value]="'m<sup>3</sup>'">m<sup>3</sup></mat-option>
                            <mat-option [value]="'km<sup>2</sup>'">km<sup>2</sup></mat-option>
                            <mat-option [value]="'km<sup>3</sup>'">km<sup>3</sup></mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex="10%">
                    <div style="text-align: right;">
                        <a mat-flat-button color="primary" class="btnCustom full boldy" (click)="addExtra()">+</a>
                    </div>
                </div>
            </div>
        </mat-card>

        <div class="list-extras">
            <ng-container *ngFor="let ext of mainForm.value.extras; let i = index;">
                <mat-card >
                    <b>{{ ext.nombre }}: </b> {{ ext.detalle }} <span [innerHTML]="ext.unidad" *ngIf="ext.unidad !== '-1'"></span>
                    <a mat-icon-button (click)="eliminarExtra(i)">
                        <mat-icon>close</mat-icon>
                    </a>
                </mat-card>
            </ng-container>
            
        </div>
    </div>
    
</ng-template>